<div id="modal-container">
    <h1>Coder Chart :D</h1>
</div>
<main id="main-container">
    <div id="glass-container">
        <header id="header">
        </header>
        <section id="chat">
            <article id="chat-history">
            </article>
            <form id="chat-form" action="/">    
                <textarea id="textArea" name="text"></textarea>
                <input type="submit" name="submit" id="inputSubmit">
            </form>
        </section>
    </div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
