<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Restore Password</h3>
            <form action="/restore/reset-password/{{token}}" method="post" id="resetForm">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" required>
                </div>
                <button type="submit" class="btn btn-primary">Restore Password</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>


    document.getElementById('resetForm').addEventListener('submit', function (e) {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        if (password !== confirmPassword) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Passwords do not match!',
            });
            e.preventDefault();
            return;
        }

        e.preventDefault();

        const token = window.location.pathname.split('/').pop();


        fetch('/restore/reset-password/' + token, {
            method: 'POST',
            body: JSON.stringify({ password: password }),
            headers: { 'Content-Type': 'application/json' },
        })
            .then(response => response.json())
            .then(data => {
                console.log("Respuesta del servidor:", data);
                if (data.success) {
                    Swal.fire('Successful', 'Password reset successfully', 'success')
                        .then(() => {
                            window.location.href = '/login';
                        });
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: data.message,
                        icon: 'error',
                    }).then(() => {
                        if (data.message === 'Invalid or expired token') {
                            window.location.href = '/restore';
                        }
                    });
                }
            })
            .catch(error => {
                console.log("Error en la solicitud:", error);
            });
    });


</script>