body {
    background-color: rgb(187, 219, 235);
}

input, textarea, button{
    margin: 10px;
}

#submitInput{
    padding: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all .3s;
    background-color: #0d6efd;
}

#deleteInput{
    margin-top: 10px;
    background-color: #ff3232;
    padding: 16px;
}





/* Botones para agregar al carrito en cantidad */
.counter {
    font-size: 1.4em;
    margin: 20px;
}

.btn-counter {
    border: none;
    background-color: #007BFF;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    font-size: 1.2em;
    margin: 0 10px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    transition: 0.3s;
}

.btn-counter:hover {
    background-color: #0056b3; 
}

.counterDisplay {
    margin: 0 20px;
}


